.wrapper {
    --border-radius: 92px;
    --length-position: 52px;
    --size-icon-header: 32px;

    width: 100%;
    height: 60px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
    .header-info {
        max-width: 1912px;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 24px 0px 16px;
        .header-info-left {
            width: 300px;
            height: 42px;
            .header-link {
                display: block;
                width: 118px;
                height: 42px;
            }
        }
        .header-info-right {
            height: 48px;
            display: flex;
            align-items: center;
            .outner-laptop-mobile {
                width: 48px;
                height: 48px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                margin-left: 12px;
            }
            .outner-menu {
                margin-left: 16px;
                cursor: pointer;
                padding: 0 4px;
                display: flex;
            }
            //User Login
            .outner-messenger {
                width: var(--size-icon-header);
                height: var(--size-icon-header);
                margin-left: 16px;
                cursor: pointer;
                padding: 3px 3px 0;
                .mess{
                    color: black;
                }
            }
            .outner-mailbox {
                width: var(--size-icon-header);
                height: var(--size-icon-header);
                margin-left: 16px;
                position: relative;
                &::before {
                    content: attr(data-count);
                    color: var(--white-color);
                    background: rgb(254, 44, 85);
                    font-weight: 600;
                    font-size: 1.4rem;
                    line-height: 1.8rem;
                    width: 25px;
                    height: 20px;
                    left: 16px;
                    display: flex;
                    justify-content: center;
                    border-radius: 10px;
                    position: absolute;
                    top: -20%;
                }
            }
            .outner-mailbox[data-count='1']::before,
            .outner-mailbox[data-count='2']::before,
            .outner-mailbox[data-count='3']::before,
            .outner-mailbox[data-count='4']::before,
            .outner-mailbox[data-count='5']::before,
            .outner-mailbox[data-count='6']::before,
            .outner-mailbox[data-count='7']::before,
            .outner-mailbox[data-count='8']::before,
            .outner-mailbox[data-count='9']::before {
                width: 20px; 
            }
            .outner-mailbox[data-count='99+']::before {
                width: 34px;
            }
            .outner-avatar {
                margin-left: 24px;
                width: var(--size-icon-header);
                height: var(--size-icon-header);
                .avatar {
                    border-radius: 50%;
                    cursor: pointer;
                }
            }
        }
    }
}
