@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root {
    --primary-color: #ef2950;
    --black-color: black;
    --white-color: white;
    --text-color: rgb(22 24 35);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
    text-rendering: optimizeSpeed;
    text-decoration: none !important;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

button,
input {
    outline: none;
    border: none;
    background-color: transparent;
    text-decoration: none;
}

a[href] {
    text-decoration: none;
    color: var(--text-color);
}

//Custom tippy tooltip
body {
    .tippy-box {
        width: 80px;
        height: 37px;
        text-align: center;
        border-radius: 8px;
        font-weight: 600;
        font-size: 1.6rem;
        background-color: rgba(84, 84, 84, 0.92);
        font-family: 'IBM Plex Sans', sans-serif;
    }
    .tippy-content {
        padding: 7px;
        & div {
            color: white;
        }
    }
    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }
    .tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
        top: -8px;
    }
}
