.search-result {
    width: 492px;
    .search-title {
        height: 30px;
        padding: 5px 12px;
        font-size: 1.4rem;
        line-height: 1.8rem;
        font-weight: 600;
        color: rgba(22, 24, 35, 0.5);
    }
}
.header-search {
    width: 500px;
    height: 46px;
    background-color: #f1f1f2;
    display: flex;
    caret-color: var(--primary-color);
    align-items: center;
    padding: 12px 16px;
    position: relative;
    border: 1.5px solid transparent;
    border-radius: var(--border-radius);
    &::before {
        content: '';
        position: absolute;
        right: var(--length-position);
        top: 9px;
        width: 1px;
        height: 28px;
        background-color: rgba(22, 24, 35, 0.12);
    }
    &:focus-within,
    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
    }
    .header-input {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 2.1rem;
        background: transparent;
        width: 100%;
        color: var(--text-color);
        text-decoration: none;
        &::placeholder {
            color: var(--black-color);
            font-size: 1.6rem;
        }
    }
    .header-input:not(:placeholder-shown) ~ .header-search-btn {
        color: rgba(22, 24, 35, 0.75);
    }
    .btn-close, .btn-loading{
        position: absolute;
        right: calc(var(--length-position) + 16px);
        top: 52%;
        transform: translateY(-50%);
        color: rgba(22, 24, 35, 0.34);
        font-size: 1.5rem;
    }
    .btn-loading{
        animation: load 0.8s linear infinite;
    }
    @keyframes load {
        from{
            transform: translateY(-50%) rotate(0);
        }
        to{
            transform: translateY(-50%) rotate(360deg);
        }   
    }
    .header-search-btn {
        width: var(--length-position);
        height: 46px;
        padding: 11px 16px 11px 12px;
        margin: -12px -16px;
        cursor: pointer;
        background: transparent;
        margin-left: 0;
        color: rgba(22, 24, 35, 0.34);
        .header-search-icon {
            width: 24px;
            height: 24px;
            scale: (0.85);
        }
    }
}
.header-search:hover .header-search-btn {
    background-color: rgba(22, 24, 35, 0.09);
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    color: rgba(22, 24, 35, 0.75);
    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}
